<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngIf="vehicleData">
    <ion-card-content *ngFor="let vehicle of vehicleData">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <img src="{{vehicleImages}}/{{vehicle.vehicle_details.vehicle_photo}}"  onError="this.src='../../../../../assets/default/defaultBus.png';" class="busProfile"  />

                 </ion-col>
            <ion-col size="8" class="busInfoCol">
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="bus"> </ion-icon>
                </ion-col>
                <ion-col size="10" class="info">
                  <ion-label>{{vehicle.vehicle_details.vehicle_number}}
                  </ion-label>
                </ion-col>

              </ion-row>
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="person"> </ion-icon>
                </ion-col>
                <ion-col size="10" class="info">
                  <ion-label>{{vehicle.driver_details.driver_name}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="call"> </ion-icon>
                </ion-col>
                <ion-col size="10" class="info">
                  <ion-label>{{vehicle.driver_details.mobile_numbers.primary_number}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4" *ngIf="vehicle.vehicle_status =='Active'" margin-top>

            <ion-icon src="{{svgIcons}}/whiteLens.svg" class="statusCircleActive">
            </ion-icon>
            <ion-label class="busStatusActive" color="success">{{vehicle.vehicle_status}}</ion-label>

          </ion-col>
          <ion-col size="4" *ngIf="vehicle.vehicle_status =='Parked'" margin-top>

            <ion-icon src="../../../../../assets/images/materialIcons/whiteLens.svg" class="statusCircleParked">
            </ion-icon>
            <ion-label class="busStatusParked" color="danger">{{vehicle.vehicle_status}}</ion-label>

          </ion-col>
          <ion-col size="4">
            <ion-button class="infoButton"
              (click)="singleBusDetails(vehicle._id,vehicle.vehicle_details.vehicle_number,vehicle.driver_details._id)">
              Live Location</ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button class="infoButton"
              (click)="adminBusDetails(vehicle._id,vehicle.vehicle_details.vehicle_number)">Bus Details</ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>

  </ion-card>
</ion-content>