<ion-fab vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button>
    <ion-icon class="backNavigationIcon" name="arrow-back" (click)="navigate()"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle text-center class="resetPasswordHeader">Reset Password</ion-card-subtitle>


      <ion-card-subtitle padding-top class="resetPasswordMessage">{{resetPasswordMessage}}
      </ion-card-subtitle>

      <ion-card-content>
        <form [formGroup]="passwordResettingForm" (ngSubmit)="setPassword(passwordResettingForm)">
          <ion-label type="password" class="passwordLabel">New Password</ion-label>
          <ion-input class="enterPasswordInput" formControlName="newPassword">
          </ion-input>
          <ion-label class="passwordLabel">Confirm Password</ion-label>
          <ion-input type="password" class="enterPasswordInput" formControlName="confirmPassword">
          </ion-input>

          <ion-button expand="block" class="passwordSubmitButton" type="submit"
            [disabled]="passwordResettingForm.invalid" margin-top>Reset
          </ion-button>
        </form>
      </ion-card-content>

    </ion-card-header>
  </ion-card>
</ion-content>