.close {
  zoom: 2.0;
}

#toolbar {
  --background: #7986cb;
  color: white;
}

.done {
  float: right;
  zoom: 1.5;
  margin-right: 3px;
}

ion-toolbar {
  background-color: rgb(125, 140, 209);
}

.title {
  margin-top: 5px;
  font-size: 25px;
}

.submitButton {
  background-color: #7d8cd1
}