.logOutImage {
  zoom: 1.5;
  margin-right: 5px
}

.profileImage {
  zoom: 1.5;
  margin-right: 10px
}

#toolbar {
  --background: #7986cb;
  color: white;
}

ion-toolbar {
  background-color: rgb(125, 140, 209);
}

.tabImage {
  width: 25px;
  color: black;
}

.tabbar {
  width: 100%;
}

.notification {
  zoom: 1.5;
  margin-right: 5px
}



//tab