.back {
  font-size: 35px;
}

#toolbar {
  --background: #7986cb;
  color: white;
}

ion-toolbar {
  background-color: rgb(125, 140, 209);
}

ion-label {
  padding: 5px;
}

.fontStyle {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

// tab