.active-item {
  border-left: 8px solid var(--ion-color-primary);
}

ion-row.item {
  margin-top: 8px;
}

ion-toggle.btnToggle {
  margin-top: 3px;
  padding-top: 4px;
}

.label {
  margin-top: 4px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 60px;
}

h6 {
  font-family: 'Roboto', sans-serif;
}
.sideItem{
  margin-bottom: 20px;
}

.active-item {
  border-left: 8px solid var(--ion-color-primary);
}
