.backNavigationIcon {
  font-size: 30px;
  padding-top: 10%;
  padding-left: 10%;
  color: black;
}

ion-fab-button {
  --background: none;
  --box-shadow: none;
}

ion-header {
  background: transparent;
}

ion-header::after {
  background-image: none;
  background: none;
}

ion-card {
  box-shadow: none;
  padding-top: 20%;
}

/* ion-content {
  --background: rgba(240, 240, 240, 0.521);
}
 */
.forgetPasswordHeader {
  color: #7986cb;
  font-family: 'Roboto';
  font-size: 25px;
}

.keyIcon {
  font-size: 150px;
  font-weight: bold;
}

.enterEmailMessage {
  color: rgb(146, 141, 141);
}

.enterEmailInput {
  background-color: rgb(226, 224, 224);
  color: rgb(7, 6, 6);
  font-size: 18px;
  border-radius: 5px;
}

.emailSubmitButton {

  --background: #7986cb;
  font-family: 'Roboto';
  font-size: 20px;
}