<ion-fab vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button>
    <ion-icon class="backNavigationIcon" name="arrow-back" (click)="navigate()"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button>
    <ion-icon name="arrow-dropup"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle text-center class="forgetPasswordHeader">Forget Your Password ?</ion-card-subtitle>

      <ion-card-title text-center>
        <ion-icon name="key" class="keyIcon"></ion-icon>
      </ion-card-title>

      <ion-card-subtitle text-center class="enterEmailMessage">{{enterEmailMessage}}</ion-card-subtitle>

      <ion-card-content>
        <form [formGroup]="userEmailForm" (ngSubmit)="isEmailExist(userEmailForm)">
          <ion-input class="enterEmailInput" formControlName="userEmail" placeholder="Enter your email">
          </ion-input>

          <ion-button expand="block" class="emailSubmitButton" type="submit" [disabled]="userEmailForm.invalid"
            margin-top>Next
          </ion-button>
        </form>
      </ion-card-content>

    </ion-card-header>
  </ion-card>
</ion-content>